Source: tox-weechat
Section: net
Priority: optional
Maintainer: Kill Your TV <killyourtv@i2pmail.org>
Build-Depends: debhelper (>= 9), cmake, weechat-dev (>= 1.0-1~bpo70+1), libtoxcore-dev
Standards-Version: 3.9.5
Homepage: https://github.com/haavardp/tox-weechat
Vcs-Git: git://killyourtv.i2p/git/tox-weechat.git
Vcs-Browser: http://killyourtv.i2p/gitweb/?p=tox-weechat.git

Package: tox-weechat
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, weechat-curses (>= 1.0-1~bpo70+1)
Description: access tox using weechat
 Tox-WeeChat is a plugin for WeeChat that enables it to connect to the Tox
 network. It is functional, but currently only intended for experimental use.
